extends layout

block content
    h1.main-title Books
    div.head

        form.search-form(action='/books/search')
            input(type='search', name='term', placeholder='title, author etc...')
            input(type='submit', value='Search', id="searchSubmit")
            a.button(href='/books/new') Create New Book
    table
        tr
            th Title
            th Author
            th Genre
            th Year
        each book in books
            tr.bookRow
                td
                    a(href="/books/" + book.dataValues.id)= book.dataValues.title
                td
                    a= book.dataValues.author
                td
                    a= book.dataValues.genre
                td
                    a= book.dataValues.year
    div.links
    script(src='/static/js/app.js')
