doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans|Mukta:300" rel="stylesheet")
  body
    block content
