extends layout

block content
    form(action='/books/new' method='POST', id='create-book')
        h1 Create Book Entry
        if(err)
            h2.error An error occured!
            ul.error
                each error in err
                    li=error.message
        p
            label(for='title') Title
            input#title(name='title', type='text')
        p
            label(for='author') Author
            input#author(name='author', type='text')
        p
            label(for='genre') Genre
            input#genre(name='genre', type='text')
        p
            label(for='year') Year
            input#year(name='year', type='text')
        div
            p.buttons-new
                input(type='submit', value='Create New Book', id='create-button')
            p.buttons-new
                a.button(href='/books', id='cancel-create') Cancel
